body {
    background-color: #5D5C61;
}
h1 {
    text-align: center;
    font-size: 300%;
    color: white;
}
H1-b {
    background-color: #7395AE;
    box-shadow: black -5px 15px;
}
.websitebox {
    display: inline-block;
    float: left;
    width: 15%;

}
.container:hover {
    transform: scale(1.1);
}
/*.otherbox {
    display: inline-block;
    float: left;*/
/*    width: 25%;*/
/*}*/
.box1 {
    /*    display: inline-block;*/
    /*    width: 25%;*/
    float: left;
    height: 525px;
    padding-top: 5%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #7395AE;
    /*    float: left;*/
}
#About {
    background-color: gray;
    border: solid 5px black;
    box-shadow: 0 4px 80px 0 rgba(0,0,0, 0.2);
    margin: 25px;
    padding: 15px;
    display: block;
    width: 250px;
    text-align: left;
    font-size: 150%;
    color: white;
}
li a {
    margin: 25px;
    padding: 20px;
    background-color: white;
    display: block;
    text-decoration: none;
    color: #557A95;
    border-radius: 5px;
    text-align: center;
}
.box2 {
    height: 525px;
    padding-left: 20px;
    padding-right: 20px;
    /*background-color: #557A95;*/
    /*float: left;*/
    /*display: block;*/
    /*    margin-left: auto;
    margin-right: auto;*/
    /*width: 50%;*/
}
/*.box2:hover {
    background-color: hotpink;
    transform: scale(1.1);
}*/
/*.box3 {*/
    /*width: 25%;
    display: inline-block;*/
    /*height: 500px;
    padding: 5%;
    background-color: mediumpurple;
}*/
/*.box3:hover {
    background-color: darkviolet;
    transform: scale(1.1);
}
.box4 {
    height: 500px;
    padding: 5%;
    background-color: pink;
}
.box4:hover {
    background-color: hotpink;
    transform: scale(1.1);
}*/
.linkcolor {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
/*img {
    display: block;
    width: 100%;
    height: 500px;
}*/

/*How to make comments*/
